<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="library/fluid_grid.css">
  <link rel="stylesheet" href="library/styles.css">
  <title>Lending Library</title>
</head>
<body>
  <header class="pictureBox">

    <h1 class="the-library">the library</h1>

  </header>
  <div class="menu container_12">
  <ul>
    <a href="/library/books"><li class="grid_12" id="search-books">View Books</li></a>
  </ul>
</div>

<main>

</main>
<footer>
    <p>wmdd 4935 lending library 2017</p>
  </footer>
</body>
</html>